
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.Mensaje

<form method="post">
    <input id="valor" name="valor" type="text" /><input id="Submit1" type="submit" value="submit" />
</form>

