
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<form method="post" enctype="multipart/form-data">
    <input id="File" name="File1" type="file" />
    <br/>
    <input id="Submit1" type="submit" value="Subir" />
</form>
@ViewBag.Mensaje
