
@{
    ViewBag.Title = "Sumar";
}

<h2>Index Sumar</h2>
<form method="post">
    Primer numero:
    <input id="num1" name="num1" type="text" /><br />
    Segundo numero:
    <input id="num2" name="num2" type="text" /><br />
    <input id="Submit1" type="submit" value="submit" />
    <br />
    Resultado: @ViewBag.Respuesta
</form>

